:root{
  --primaryLogoColor: #26C7EA;
  --primaryButtonShadowColor: #26C7EA;
  --primaryLinkColor: #fff;
  --primaryButtonColor: #26C6EA;
  --primaryButtonBackgroundColor: #0B0E66;  
  --primaryTranslatorColor: #FFFFFF;
  --primarySwitchBackgroundColor: #2B4A61;
  --primarySwitchCircleColor: #FFF;
  --primaryTextColor: #FFFFFF;
  --primaryTitleColor: #141414;
  --secondaryTitleColor: #0a3853;
  --primaryLineColor: #FFFFFF;
  --primaryHeroLinkColor: #94CFFF;
  --primaryWriterNamecolor: #000;
  --primaryLineColor: #FFFFFF;
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}



.header{
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)), url(../images/avatar-underwater.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 1440px;
    height: 150px;
    outline: solid 1px var(--primaryLineColor);
    display: flex;
    align-items: center;
    padding-top: 39px;
    padding-bottom: 39px;
    column-gap: 50px;
    padding-left: 204px;
    padding-right: 48px; 
}
.header-position{
    display: flex;
    align-items: center;
    width: 1032px;
  }
body{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--primaryTextColor);
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 1032px;
    margin: 0 auto;
}
.menu{
    display: flex;
    margin-left: 168px;
}
.hero-link{
    color: var(--primaryLinkColor);
    font-weight: 300;
    text-align: center;
    padding-right: 38px;
}
.hero-link:hover{
    color: var(--primaryHeroLinkColor);
}
.second-hero-link{
    color: var(--primaryLinkColor);
    font-weight: 300;
    text-align: center;
    margin-right: 38px; 
    white-space: nowrap;
}
.second-hero-link:hover{
    color: var(--primaryHeroLinkColor);
}
.menu-link{
    color: var(--primaryLinkColor);
    font-weight: 300;
    text-align: center;
}
.menu-link:hover{
    color: var(--primaryHeroLinkColor);
}
.hero-button{
    color: var(--primaryButtonColor);
    background-color: var(--primaryButtonBackgroundColor);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border: 3px solid #26C7EA;
    font-family: var(--second-family);
    font-size: 24px;
    margin-left: auto;
    height: 42px;
    width: 142px;
}
.switcher-wrap{
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.language{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
}
.switcher{
    width: 36px;
    height: 20px;
}
.hero-section{
    height: 740px;
    background-image: url(../images/avatar.png);
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.hero-container{
    display: flex;
}
.hero-content{
    padding-top: 180px;
    background-image: url(../images/white-line.png);
    background-repeat: no-repeat;
    background-position: 50px 280px;
}
.hero-text{
    width: 298px;
    margin-bottom: 40px;
}
.text{
    width: 376px;
    margin-bottom: 42px;
}
.button{
    color: var(--primaryButtonColor);
    background-color: var(--primaryButtonBackgroundColor);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border: 3px solid #26C7EA;
    font-family: var(--second-family);
    font-size: 24px;
    height: 80px;
    width: 260px;
}
.social-networks{
    padding-left: 630px;
    padding-top: 290px;
}
.network-item{
    margin-bottom: 29px;
}
.instagram{
    width: 50px;
    height: 30px;
    display: block;
}
.quote-section{
    padding-top: 80px;
    width: 1440px;
    height: 350px;
    margin: 0 auto;
    background-image: url(../images/bird.png);
    background-repeat: no-repeat;
    background-position: 500px 220px;
}
.quote-title{
    font-size: 36px;
    color: var(--secondaryTitleColor);
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
}
.writer-name{
    font-size: 24px;
    width: 151px;
    color: var(--primaryWriterNamecolor);
    margin: 0 auto;
}
.hero-writer-name{
    font-size: 24px;
    width: 151px;
    color: var(--primaryWriterNamecolor);
    margin: 0 auto;
    margin-left: 465px;
}
.third-hero-section{
    background-image: url(../images/avatar_trailer.png);
    height: 741px;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-top: 330px;
}
.second-button{
    color: var(--primaryButtonColor);
    background-color: var(--primaryButtonBackgroundColor);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border: 3px solid #26C7EA;
    width: 260px;
    height: 80px;
    margin: 0 auto;
    padding: 25px 20px;
    display: block;
    font-family: var(--second-family);
    font-size: 24px;
    text-align: center;
}
.title{
    color: var(--primaryTitleColor);
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
}
.forth-hero-section{
    background-image: url(../images/avatar_mountains.png);
    height: 704px;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.gallery-title{
    color: var(--primaryTitleColor);
    font-family: var(--second-family);
    font-size: 32px;
    text-align: center;
    padding-top: 58px;
    margin-bottom: 45px;
    font-weight: 400;
}
.gallery-first{
    display: flex;
}
.gallery-second{
    display: flex;
}
.box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.second-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/small-bird.png);
    background-repeat: no-repeat;
    background-position: center;
}
.third-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line-another.png);
    background-repeat: no-repeat;
    background-position: center;
}
.fourth-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-top: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.fifth-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-top: 24px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/small-bird.png);
    background-repeat: no-repeat;
    background-position: center;
}
.sixth-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-top: 24px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line-another.png);
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-text{
    font-family: var(--second-family);
    font-size: 24px;
    line-height: 100%;
    color: var(--primaryTitleColor);
    text-align: center;
    margin-bottom: 120px;
    padding-top: 39px;
}
.gallery-translate{
    font-family: var(--second-family);
    font-size: 24px;
    line-height: 100%;
    color: var(--primaryWriterNamecolor);
    text-align: center;
}
.footer{
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87),rgba(43, 74, 97, 0.87)), url(../images/avatar_underwater.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 25px;
}
.second-container{
    display: flex;
    align-items: center;
}
.footer-logo{
    display: contents;
}
.footer-logo::after{
    content: '';
    width: 1px;
    height: 153px;
    background-color: #fff;
    display: inline-block;
    margin-left: 80px;
}
.footer-logo-image{
    height: 70px;
    width: 183px;
}
.contacts{
    margin-left: 54px;
}
.hero-item{
    background-image: url(../images/big-line.png);
    background-repeat: no-repeat;
    background-position: 125px ;
    display: flex;
    width: 665px;
    justify-content: space-between;
}
.contact-item{
    margin-top: 16px;
    background-image: url(../images/small-line.png);
    background-repeat: no-repeat;
    background-position: 195px ; 
    display: flex; 
    width: 689px;
    justify-content: space-between;
}
.footer-hero-link{
    color: var(--primaryLinkColor);
}
.contact-link{
    color: var(--primaryLinkColor);
}
.copyright{
    font-size: 14px;
    padding-left: 478px;
}