:root{
  --primaryLogoColor: #26C7EA;
  --primaryLinkColor: #fff;
  --primaryButtonColor: #26C6EA;
  --primaryButtonBackgroundColor: #0B0E66;  
  --primaryTranslatorColor: #FFFFFF;
  --primarySwitchBackgroundColor: #2B4A61;
  --primarySwitchCircleColor: #FFF;
  --primaryTextColor: #FFFFFF;
  --primaryTitleColor: #141414;
  --secondaryTitleColor: #0a3853;
  --primaryLineColor: #FFFFFF;
  --primaryHeroLinkColor: #94CFFF;
  --primaryWriterNamecolor: #000;
  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}



.header{
    background-image: url(../images/avatar-underwater.png);
    margin: 0 auto;
    width: 1440px;
    height: 150px;
}
.header-position{
    display: flex;
    align-items: center;
  }
body{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--primaryTextColor);
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    width: 1032px;
  }
.logo{
    margin-left: 204px;
}
.menu{
    display: flex;
    margin-left: 168px;
}
.hero-link{
    color: var(--primaryLinkColor);
    font-weight: 600;
    text-align: center;
    padding-right: 38px;
}
.hero-link:hover{
    color: var(--primaryHeroLinkColor);
}
.second-hero-link{
    color: var(--primaryLinkColor);
    font-weight: 300;
    text-align: center;
    padding-right: 38px; 
}
.menu-link{
    color: var(--primaryLinkColor);
    font-weight: 300;
    text-align: center;
    margin-right: 212px;
}
.hero-button{
    color: var(--primaryButtonColor);
    background-color: var(--primaryButtonBackgroundColor);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    font-family: var(--second-family);
    width: 141px;
    height: 41px;
    font-size: 24px;
    margin-right: 49px;
}
/*Стилі для перемикача*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    display:none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primarySwitchBackgroundColor);
    -webkit-transition: .4s;
    transition: .4s;
    outline: 1px solid white;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primarySwitchCircleColor);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/*Продавження стилів для проекту*/

.first-text{
    color: var(--primaryTranslatorColor);
    font-family: var(--third-family);
    font-size: 16px;
    text-transform: uppercase;
}
.item-text{
    color: var(--primaryTranslatorColor);
    font-family: var(--third-family);
    font-size: 16px;
    text-transform: uppercase;
}
.hero-section{
    height: 740px;
    background-image: url(../images/avatar.png);
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.preview{
    background-image: url(../images/white-line.png);
    background-repeat: no-repeat;
}
.hero-text{
    width: 298px;
}
.text{
    width: 376px;
    margin-bottom: 42px;
}
.button{
    color: var(--primaryButtonColor);
    background-color: var(--primaryButtonBackgroundColor);
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    font-family: var(--second-family);
    font-size: 24px;
    width: 260px;
    height: 80px;
}
.network-item{
    margin-bottom: 27px;
}
.quote-section{
    padding-top: 75px;
    width: 1440px;
    margin: 0 auto;
}
.quote{
    background-image: url(../images/bird.png);
    background-repeat: no-repeat;
    background-position: center;
}
.quote-title{
    font-size: 36px;
    color: var(--secondaryTitleColor);
    text-transform: uppercase;
    text-align: center;
}
.writer-name{
    font-size: 24px;
    color: var(--primaryWriterNamecolor);
    margin-top: 16px;
    padding-left: 645px;
}
.quote-image{
    padding-left: 505px;
}
.third-hero-section{
    background-image: url(../images/avatar_trailer.png);
    height: 741px;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.second-button{
    color: var(--primaryButtonColor);
    margin-left: 609px;
    padding-top: 355px;
    display: block;
    font-family: var(--second-family);
    font-size: 24px;
}
.title{
    color: var(--primaryTitleColor);
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}
.forth-hero-section{
    background-image: url(../images/avatar_mountains.png);
    height: 704px;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.gallery-title{
    color: var(--primaryTitleColor);
    font-family: var(--second-family);
    font-size: 32px;
    text-align: center;
    padding-top: 58px;
    padding-left: 390px;
    margin-bottom: 45px;
}
.gallery-first{
    display: flex;
    padding-left: 204px;
}
.gallery-second{
    display: flex;
    padding-left: 204px;
}
.box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.second-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/small-bird.png);
    background-repeat: no-repeat;
    background-position: center;
}
.third-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line-another.png);
    background-repeat: no-repeat;
    background-position: center;
}
.fourth-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-top: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.fifth-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-top: 24px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/small-bird.png);
    background-repeat: no-repeat;
    background-position: center;
}
.sixth-box{
    background-color: #FFFFFF;
    opacity: 70%;
    width: 320px;
    height: 240px;
    margin-top: 24px;
    margin-left: 36px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-image: url(../images/line-another.png);
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-text{
    font-family: var(--second-family);
    font-size: 24px;
    line-height: 100%;
    color: var(--primaryTitleColor);
    text-align: center;
    margin-bottom: 120px;
    padding-top: 39px;
}
.gallery-translate{
    font-family: var(--second-family);
    font-size: 24px;
    line-height: 100%;
    color: var(--primaryWriterNamecolor);
    text-align: center;
}
.footer{
    background-image: url(../images/avatar_underwater.png);
    height: 223px;
    display: flex;
    background-repeat: no-repeat;
    width: 1440px;
    margin: 0 auto;
}
.contact-link{
    color: var(--primaryLinkColor);
}
.description{
    font-size: 14px;
}